/* Register Styling */
#register-main{
    background-color: maroon;
    border: 60px solid maroon;
}
form{
    background-color: white;
    border: 60px solid #dadddc;
    filter: drop-shadow(4px 10px 4px #3b3b44);
    border-image-outset: 15px;
}
#form h2{
    display: flow;
    color: maroon;
    font-size: 5rem;
    font-family: 'Oranienbaum', serif;
    text-align: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    background-color: white;
    border: 1px solid black;
    filter: drop-shadow(4px 4px 4px #5d7f96);
}
#form label{
    font-size: 1.2rem;
}
#form input{
    color: white;
    background-color: #dadddc;
}
#register-btn{
    font-size: 1.3rem;
    color: black!important;
    background-color: green!important;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
    border: 1px solid #8cbade;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
.btn-success:hover{
    background-color: blue!important; 
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#totalPets{
    border: 60px solid #dadddc;
    background-color: white;
    padding: 6rem;
    margin-top: 5rem;
    filter: drop-shadow(4px 10px 4px #643440);
}
#totalPets h2{
    padding-bottom: 3rem;
}
#bDay{
    display: flex;
    justify-content: center;
    background-color: white;
}
#bDay p{
    padding-top: 1.6rem;
}
#bDay i{
    font-size: 2rem;
}
#countA{
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    background-color: #dedede;
    padding-top: 1.4rem;
    padding: 1rem;
    padding-top: 1.4rem;
}
#searchDiv{
    display: flex;
    padding: 6rem;
    background-color: white;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#searchDiv label{
    font-size: 1.7rem;
}
#petSearch{
    width: 18rem;
    margin: 2rem;
    filter: drop-shadow(4px 4px 4px #3b3b44);
}
#search-btn{
    height: 4rem;
    margin-top: 1.4rem;
    filter: drop-shadow(4px 4px 4px #3b3b44);
}
#petTable{
    margin: 0;
    padding: 0;  
}
table{
    background-color: white;
    border: 2px solid #70b19c;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
thead{
    font-size: 1.2rem;
    color: black;
    text-transform: uppercase;
    background-color: #78ecc6;
}
/* JQuery interactions for highlighted pet search */
.active{
    border: 7px solid red;
}
.red-bg{
    background-color: red;
}

/* Services Styling */
.container-services{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}
#classCode{
    background-color: rgb(150, 82, 82);
    border: 60px solid #29608d;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#serviceBlocks{
    display: flex;
    align-items: column;
    background-color: #60a5e6;
    border: 60px solid #4c81ad;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#opener{
    border: 1px solid white;
    background-color: white;
    filter: drop-shadow(4px 10px 4px #3b3b44);

}
#serviceOpen{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: #60a5e6;
    padding-top: 6rem;
    padding-right: 6rem;
    padding-left: 6rem;
    font-family: 'Oranienbaum', serif;
    text-decoration: overline;
}
#opener p{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: maroon;

}
#serviceBlocks a{
    font-size: 2rem;
    color: white;
    text-decoration: none;
}
#serviceBlocks img{
    height: 12rem;
    width: 12rem;
    border: 1px solid #8cbade;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#shower #hairCut #toeNail #fullService{
    border: 1px solid white;
}
#shower:hover{
    background-color: white;
}
#hairCut:hover{
    background-color: white;
}
#toeNail:hover{
    background-color: white;
}
#fullService:hover{
    background-color: white;
}

/* About Styling */
#mapPad{
    background-color: white;
    border: 60px solid maroon;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#mapPad h2, #petImages h2{
    display: flex;
    justify-content: center;
    font-size: 5rem;
    color: maroon;
    padding: 6rem;
    font-family: 'Oranienbaum', serif;
    border: 1px solid white;
}
#mapPad p{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    color: maroon;
    font-family: 'Oranienbaum', serif;
    padding-bottom: 2rem;
    border: 1px solid white;
}
#map{
    display: flex;
    justify-content: center;
    height: 500px;
    width: 600px;
    margin-left: 7rem;
    margin-bottom: 10rem;
    background-color: #dedede;
    border: 60px solid #2e3d49;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#petImages{
    background-color: white;
    border: 60px solid maroon;
    filter: drop-shadow(4px 10px 4px #3b3b44);
}
#petSlider{
    display: flex;
    margin-left: 5rem;
    margin-bottom: 10rem;
}
#leftArrow, #rightArrow{
    font-size: 8rem;
    color: maroon;
    padding-top: 8rem;
}
#slider{
    width: 720px;
    height: 500px;
    overflow: hidden;
}
#slider .slides{
    display: block;
    width: 6000px;
    height: 500px;
    margin: 0;
    padding: 0;
}
#slider .slide{
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

